@font-face {
    font-family: bubbles;
    src: url(fonts/FuzzyBubbles-Regular.woff2);
}

@font-face {
    font-family: baloo;
    src: url(fonts/Baloo2-VariableFont_wght.woff2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'bubbles';
    scroll-behavior: smooth;
}

::selection {
    background: #513026;
    color: #fefefe;
}

::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    background: #fefefe;
}

::-webkit-scrollbar-thumb {
    background-color: #62382F;
    border-radius: 10px;
    border: 3px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #36150B;
}

li {
    list-style-type: none;
}

.cursor-follower {
    position: fixed;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #513026;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6vw;
    color: #fff;
    opacity: 0;
}

.cursor-follower p,
.cursor-follower svg {
    display: none;
}

.cursor-follower svg {
    transform: rotate(-90deg);
}

li {
    list-style-type: none;
}

a {
    color: #232323;
    text-decoration: none;
}

#main {
    position: relative;
}

/* navbar */
.navbar {
    display: flex;
    flex-direction: column;
}

.nav-partition {
    width: 1px;
    height: 30px;
    background-color: #9D9D9D;
}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 3rem 2rem;
    z-index: 999;
}

.links {
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.links li {
    position: relative;
    mix-blend-mode: difference;
}

.links a {
    color: #2A2A2A;
}

.links li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #513026;
    top: 110%;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.links li:hover:before {
    transform: scaleX(1);
}


#nav-open,
#nav-close {
    display: none;
}

.home {
    width: 100%;
    height: 100%;
}

.logo img {
    width: 7rem;
}

/* dropdown */
.dropdown {
    background-image: url(assets/dropdown-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9;
    position: absolute;
    top: -50vw;
    width: 100%;
    height: 25vw;
    background-color: #513026;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.menu-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0vw 2vw;
    line-height: 2vw;
}

.menu-row li {
    color: #eee;
    line-height: 2.7vw;
    cursor: pointer;
    font-size: 1vw;
    transition: color 0.3s ease-in-out;
}

.menu-row li:hover {
    color: #fff;
}

#menu-heading {
    position: relative;
    font-size: 1.3vw;
    font-weight: 500;
    color: #fff;
}

#menu-heading::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 50px;
    background-color: #fff;
    top: 80%;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#menu-heading:hover:before {
    transform: scaleX(1);
}

/* home-content */

.home-content {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
}

.left-home {
    position: relative;
    top: -15%;
    width: 70%;
    height: 100%;
    left: 2%;
    padding: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left-home h1 {
    position: relative;
    font-size: 5vw;
    font-family: 'baloo';
    font-weight: 700;
    line-height: 5vw;
    color: #36150B;
    overflow: hidden;
}

.left-home h1 span {
    position: relative;
    display: inline-block;
}

.home-img-text img {
    position: relative;
    width: 10vw;
    top: 1vw;
}

.btn {
    width: 9vw;
    height: 3.5vw;
    background-color: #513026;
    font-family: inherit;
    margin-top: 2vw;
    position: relative;
    overflow: hidden;
    border: 1px solid #513026;
    transition: color .5s;
    padding: 1vw 1.5vw;
    z-index: 1;
    font-size: 1vw;
    border-radius: 1vw;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fff6dd;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.btn:hover {
    color: #513026;
}

.btn:before {
    top: 100%;
    left: 0;
    transition: all .7s;
}

.btn:hover:before {
    top: 0;
    border-radius: 0;
}

.right-home {
    position: relative;
    display: flex;
    align-items: center;
    top: -7%;
    gap: 2vw;
    width: 50%;
    height: 100%;
}

.home-img {
    position: relative;
    height: 40rem;
    top: -1vw;
}

img.home-beans {
    top: 65vh;
    left: 0;
    position: absolute;
    width: 50vh;
    padding: 1vw 2vw;
}

/* sec-1 */

.sec-1 {
    position: relative;
    width: 100%;
    margin-top: 30px;
    height: 20rem;
    background-image: url(assets/tiggle-special-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.sec-1 h1 {
    font-size: 4vw;
    font-family: 'baloo';
    color: #36150B;
}

.sec-1 p {
    font-size: 1vw;
    width: 80%;
}

/* sec-2 */
.sec-2 {
    width: 100%;
    height: 100%;
    margin-top: 2vw;
}


/* highlight */

.highlight-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-top: 2vw;
}

.highlight {
    width: 20%;
    height: 25vw;
    position: relative;
    background-color: #FFFBB3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1vw 2vw;
    border-radius: 20px;
    overflow: hidden;
}

.highlight-content {
    position: absolute;
    padding: 1vw 2vw;
    color: #9E533B;
    transform: translateY(20vw);
    transition: all 0.5s ease-in-out;
}

.highlight-content h1 {
    font-size: 3vw;
    line-height: 3vw;
    font-family: 'baloo';
}

.highlight-content p {
    font-size: 1vw;
}

.image-highlights img {
    height: 18vw;
    transition: all 0.5s ease;
}


.highlight:hover .image-highlights img {
    transform: translateY(-30%);
    height: 15vw;
}

.highlight:hover .highlight-content {
    transform: translateY(55%);
}

.two-high:hover .highlight-content {
    transform: translateY(85%);
}

.one-high,
.four-high {
    width: 30vw;
}

.two-container {
    margin-top: 2vw;
}

.three-high:hover .highlight-content {
    transform: translateY(10%);
}

.three-high:hover .image-highlights img {
    transform: translateX(50%) rotate(-30deg);
    height: 18vw;
}

.four-high:hover .highlight-content {
    transform: translateY(65%);
}


/* section 3 */


.sec-3 {
    width: 100%;
    height: 100%;
    margin-top: 5vw;
}

#heading {
    text-align: center;
    margin-top: 2vw;
    font-family: 'baloo';
    font-size: 4vw;
    color: #36150B;
    padding: 0 2vw;
}

.sec-3 #heading {
    text-align: left;
    padding: 0 5vw;
}

.sec-3-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2vw;
}

.left-sec-3 {
    position: relative;
    width: 50%;
    height: 100%;
    left: 4%;
}

.left-sec-3 img {
    width: 70%;
}

.right-sec-3 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.right-sec-3 h1 {
    font-family: 'baloo';
    font-size: 3.5vw;
}

.right-sec-3 p {
    font-size: 1.1vw;
    line-height: 1.5vw;
    color: #62382F;
    width: 80%;
}

/* section 4 */

.sec-4 {
    width: 100%;
    height: 100%;
}

.product-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

.sec-4 #heading {
    text-align: left;
}

.product {
    width: 23rem;
    height: 25rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 2rem;
}

.product img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.back {
    opacity: 0;
    transition: opacity 0.5s ease, transform 1s ease;
    transition-delay: transform 0.6s;
}

.content {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background-color: #ee963eb7;
    font-size: 1rem;
    color: #fff;
    font-weight: normal;
}

.product svg {
    position: absolute;
    z-index: 9;
    top: 1%;
    right: 1%;
    padding: 1vw;
}

.product:hover .back {
    opacity: 1;
    transform: scale(1.2);
}

/* section 5 */
.sec-5 {
    width: 100%;
    height: 100%;
    margin-top: 2vw;
}

.heading-scroller {
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}

.marquee {
    font-family: 'baloo';
    font-size: 4vw;
    color: #36150B;
    transform: translateX(-100%);
}

.making-container {
    position: relative;
    margin-top: 2vw;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    padding: 2vw;
}

.making {
    width: 22vw;
    height: 27vw;
    perspective: 1000px;
}

.making-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.9s;
}

.making:hover .making-inner {
    transform: rotateY(180deg);
}

.front-making,
.back-making {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1vw;
    background-color: #98B3BE;
    overflow: hidden;
}

.front-making {
    color: #fff;
    transform: rotateY(0deg);
}

.back-making {
    color: #fff;
    flex-direction: column;
    transform: rotateY(180deg);
}

#number-making {
    position: absolute;
    font-size: 20vw;
    color: #728B9A;
    z-index: -999;
}

.front-making h1 {
    font-size: 3vw;
    color: #0D3763;
}

.back-making p {
    font-size: 1.2vw;
    padding: 0.7vw;
}

.back-making img {
    width: 80%;
}

.arrow img {
    width: 20vw;
}


/* section 6 */
.sec-6 {
    margin-top: 2vw;
    width: 100%;
    height: 100%;
    background-image: url(assets/tiggle-special-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2vw;
}

#text {
    font-size: 1.2vw;
    margin-bottom: 3vw;
}

.bg-image-sec6 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.story-child-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-top: 1vw;
}

.story {
    width: 30vw;
    height: 13vw;
    background-color: #7FA8BA;
    box-shadow: 0px 0px 5px #FFF6DD;
    padding: 2vw;
    border-radius: 2vw;
    color: #FFFFFF;
    font-size: 1vw;
}

.story h2 {
    font-size: 1.5vw;
}

.story p {
    line-height: 1.4vw;
}

.btn-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section 7 */

.sec-7 {
    width: 100%;
    height: 100%;
    margin-top: 2vw;
}

.sec-7 #heading {
    text-align: center;
}

.aso-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vw;
    padding: 2vw;
}

.row-1 {
    display: flex;
    gap: 3vw;
}

.row-2 {
    display: flex;
    gap: 5vw;
}

.row-1 img {
    height: 4vw;
}

.row-2 img {
    height: 7vw;
}


/* footer */
.footer {
    display: flex;
    width: 100%;
    height: 100%;
    border-top: 1px solid #9E9E9E;
    background-color: #FFF6DD;
    margin-top: 2vw;
    flex-direction: column;
}

.footer-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 4vw;
    display: flex;
}

.footer h2 {
    color: #232323;
    margin-bottom: 1vw;
}

.footer li {
    color: #434343;
    line-height: 2.5vw;
}

.followus {
    width: 100%;
}

.insta img {
    width: 30%;
}

.footer-links,
.services {
    width: 100%;
}

.cpyrght {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2vw;
}

/* back to top */
#backtotopbtn {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    padding: 1vw;
    background-color: #ffffff;
    box-shadow: 0 0 5px #010101;
    border: none;
    border-radius: 500px;
    cursor: pointer;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#backtotopsvg {
    transform: rotate(180deg);
}

#backtotopbtn:hover {
    background-color: #efefef;
}

/* media queries */

@media (max-width: 1244px) {
    .product {
        width: 30rem;
        height: 30rem;
    }

    .content {
        font-size: 1.2rem;
    }
}

@media (max-width: 1001px) {
    .left-home h1 {
        font-size: 6vw;
        line-height: 6vw;
    }

    .home-img {
        height: 50vw;
        top: -1vw;
        right: 20%;
    }

    .right-home {
        width: 37%;
    }

    img.home-beans {
        width: 35vw;
    }

    .btn {
        width: 11vw;
        height: 4.5vw;
        font-size: 1.2vw;
    }

    /* special */
    .sec-1 h1 {
        font-size: 5vw;
    }

    .sec-1 p {
        font-size: 1.1vw;
        width: 90%;
    }
}

@media (max-width: 1067px) {

    .product-container {
        justify-content: center;
    }
}

@media (max-width: 951px) {
    .footer-container {
        width: 100%;
        height: 30vw;
    }

    .footer h2 {
        font-size: 2vw;
    }

    .footer li {
        font-size: 1.4vw;
        line-height: 2.5vw;
    }

    .insta img {
        width: 28%;
    }

    img.insta-logo {
        width: 6%;
    }

    .cpyrght {
        font-size: 1.8vw;
    }
}

@media (max-width: 851px) {
    .dropdown {
        height: 30vw;
    }

    .menu-row {
        padding: 0vw 2vw;
        line-height: 2vw;
    }

    .menu-row li {
        line-height: 3.2vw;
        font-size: 1.3vw;
        font-weight: 100;
    }

    #menu-heading {
        font-size: 1.6vw;
        font-weight: 500;
    }

    /* about best seller */
    .right-sec-3 h1 {
        font-size: 3.7vw;
    }

    .right-sec-3 p {
        font-size: 1.3vw;
        line-height: 1.9vw;
    }

    /* heading */
    #heading,
    .marquee {
        font-size: 5vw;
    }

    /* story */
    .story {
        width: 33vw;
        height: 16vw;
        padding: 2vw;
        border-radius: 1.5vw;
        font-size: 1.3vw;
    }

    .story p {
        line-height: 1.8vw;
    }

    .story h2 {
        font-size: 1.7vw;
    }

    #text {
        line-height: 1.8vw;
    }

    /* as seen on */
    .row-1 img {
        height: 5vw;
    }

    .row-2 img {
        height: 8vw;
    }
}

@media (max-width: 701px) {
    .dropdown {
        display: none;
    }

    .links {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .nav-partition {
        display: none;
    }

    #nav-open,
    #nav-close {
        display: block;
    }

    .links {
        position: absolute;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        font-size: 2rem;
        padding: 0 5vw;
        backdrop-filter: blur(5px);
        top: 0;
        right: -100%;
        height: 100vh;
        background-color: #513026be;
        width: 80%;
        z-index: 9999;
    }

    #nav-close {
        position: absolute;
        right: 10%;
        top: 5%;
    }

    .cursor-follower {
        display: none;
    }

    .links li::before {
        background-color: #fff;
    }

    .links a li {
        color: #fff;
    }

    .links li {
        transform: translate(100px, 40px);
        opacity: 0;
    }

    #dropdown-btn {
        display: none;
    }

    #nav-bag {
        stroke: #fff;
        width: 40px;
        height: 40px;
        right: 0;
    }

    .highlight {
        width: 28%;
        height: 30vw;
        padding: 1vw 2vw;
        border-radius: 15px;
    }

    .one-high,
    .four-high {
        width: 40vw;
    }

    .highlight-content h1 {
        font-size: 4vw;
        line-height: 4vw;
    }

    .highlight-content p {
        font-size: 1.2vw;
    }

    /* backtotop */
    #backtotopsvg {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 701px) {

    #nav-bag {
        stroke: #2A2A2A;
    }
}

@media (max-width: 601px) {
    .home-content {
        flex-direction: column;
        align-items: center;
    }

    .left-home {
        width: 100%;
        top: 0;
        text-align: left;
    }

    .left-home h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .home-img-text img {
        width: 5.5rem;
    }

    .right-home {
        width: 35%;
        top: -5%;
    }

    img.home-beans {
        display: none;
    }

    .home-img {
        height: 20rem;
        top: -1vw;
        right: 20%;
    }

    .btn {
        width: 11vw;
        height: 5vw;
        font-size: 1.3vw;
        border-radius: 1vw;
    }

    .home-content .btn {
        width: 5rem;
        height: 2rem;
        font-size: 0.6rem;
        border-radius: 5px;
    }

    /* special */
    .sec-1 {
        height: 10rem;
    }

    .sec-1 h1 {
        font-size: 6vw;
    }

    .sec-1 p {
        font-size: 0.4rem;
        width: 80%;
    }

    /* about best seller */
    .sec-3-container {
        flex-direction: column;
    }

    .sec-3 #heading {
        text-align: center;
    }

    .right-sec-3,
    .left-sec-3 {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-sec-3 {
        left: 0;
    }

    .left-sec-3 img {
        width: 65%;
    }

    .right-sec-3 h1 {
        font-size: 6vw;
    }

    .right-sec-3 p {
        font-size: 1.8vw;
        line-height: 2.5vw;
        width: 90%;
    }

    .right-sec-3 .btn {
        width: 13vw;
        height: 6vw;
        font-size: 1.5vw;
    }

    nav {
        padding: 2.5rem 1.5rem;
    }

    /* story */
    .story-child-container {
        flex-direction: column;
    }

    .story {
        width: 15rem;
    }

    .story h2 {
        font-size: 0.7rem;
    }

    .story p {
        font-size: 0.4rem;
        line-height: 0.5rem;
    }
}

@media (max-width: 551px) {
    .product {
        width: 22rem;
        height: 22rem;
    }

    .content {
        font-size: 1rem;
    }

    .product svg {

        width: 15%;
        height: 15%;
    }

    #heading,
    .marquee {
        font-size: 7vw;
    }

    /* footer */
    .footer-container {
        flex-direction: column;
    }

    .footer {
        height: 85vw;
    }

    .services,
    .followus {
        margin-top: 2vw;
    }

    /*  making */
    .making-container {
        flex-direction: column;
        gap: 3vw;
        margin-top: 0;
        padding: 2vw;
    }

    .two-making-container {
        margin-top: -1vw;
    }

    .arrow {
        display: none;
    }

    .making {
        width: 8rem;
        height: 10rem;
        border-radius: 1rem;
    }
    .front-making, .back-making{
    border-radius: .5rem;
    }
    #number-making {
        font-size: 9rem;
    }

    .front-making h1 {
        font-size: 1.28rem;
    }

    .back-making p {
        font-size: .5rem;
        padding: 0.7vw;
        line-height: 0.7rem;
    }

    .back-making img {
        width: 70%;
    }
}

@media (max-width: 551px) {
    .footer-container {
        width: 100%;
        height: 30vw;
    }

    .footer h2 {
        font-size: 2.4vw;
    }

    .footer li {
        font-size: 1.8vw;
        line-height: 2.7vw;
    }

    .insta img {
        width: 26%;
    }

    img.insta-logo {
        width: 3%;
    }

    .cpyrght {
        font-size: 1.8vw;
    }
}

@media (max-width: 419px) {
    .left-home h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .home-img-text img {
        width: 4.5rem;
    }

    .right-home {
        width: 45%;
    }

    .sec-1 h1 {
        font-size: 6vw;
    }

    .sec-1 p {
        font-size: 0.4rem;
        line-height: 0.6rem;
        width: 90%;
    }

    /* highlights */

    .highlight {
        width: 30%;
        height: 30vw;
        border-radius: 7px;
    }

    .highlight-content {
        transform: translateY(25vw);
    }
}

@media (max-width: 379px) {

    /* story */
    .story-child-container {
        flex-direction: column;
    }

    .story {
        width: 15rem;
        height: 4rem;
    }

    .story h2 {
        font-size: 0.6rem;
    }

    .story p {
        font-size: 0.4rem;
        line-height: 0.6rem;
    }

}

@media (max-width: 346px) {
    .left-home h1 {
        font-size: 1.9rem;
        line-height: 1.9rem;
    }

    .home-img-text img {
        width: 4rem;
    }

    .right-home {
        width: 65%;
    }
}
@media (max-width: 201px) {
    
}