@font-face {
    font-family: bubbles;
    src: url(fonts/FuzzyBubbles-Regular.woff2);
}

@font-face {
    font-family: baloo;
    src: url(fonts/Baloo2-VariableFont_wght.woff2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'bubbles';
    scroll-behavior: smooth;
}

::selection {
    background: #513026;
    color: #fefefe;
}

::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    background: #fefefe;
}

::-webkit-scrollbar-thumb {
    background-color: #62382F;
    border-radius: 10px;
    border: 3px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #36150B;
}

li {
    list-style-type: none;
}

.cursor-follower {
    position: fixed;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #513026;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6vw;
    color: #fff;
    opacity: 0;
}

.cursor-follower p,
.cursor-follower svg {
    display: none;
}

.cursor-follower svg {
    transform: rotate(-90deg);
}

li {
    list-style-type: none;
}

a {
    color: #232323;
    text-decoration: none;
}

#main {
    position: relative;
}

/* navbar */
.navbar {
    display: flex;
    flex-direction: column;
}

.nav-partition {
    width: 1px;
    height: 30px;
    background-color: #9D9D9D;
}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 3rem 2rem;
    z-index: 999;
}

.links {
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.links li {
    position: relative;
    mix-blend-mode: difference;
}

.links a {
    color: #2A2A2A;
}

.links li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #513026;
    top: 110%;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.links li:hover:before {
    transform: scaleX(1);
}


#nav-open,
#nav-close {
    display: none;
}

.home {
    width: 100%;
    height: 100%;
}

.logo img {
    width: 7rem;
}

/* dropdown */
.dropdown {
    background-image: url(assets/dropdown-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9;
    position: absolute;
    top: -50vw;
    width: 100%;
    height: 25vw;
    background-color: #513026;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.menu-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0vw 2vw;
    line-height: 2vw;
}

.menu-row li {
    color: #eee;
    line-height: 2.7vw;
    cursor: pointer;
    font-size: 1vw;
    transition: color 0.3s ease-in-out;
}

.menu-row li:hover {
    color: #fff;
}

#menu-heading {
    position: relative;
    font-size: 1.3vw;
    font-weight: 500;
    color: #fff;
}
#menu-heading::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 50px;
    background-color: #fff;
    top: 80%;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#menu-heading:hover:before {
    transform: scaleX(1);
}

/* home-content */

.home-content {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
}

.left-home {
    position: relative;
    top: -15%;
    width: 70%;
    height: 100%;
    left: 2%;
    padding: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left-home h1 {
    position: relative;
    font-size: 5vw;
    font-family: 'baloo';
    font-weight: 700;
    line-height: 5vw;
    color: #36150B;
    overflow: hidden;
}

.left-home h1 span {
    position: relative; 
    display: inline-block;
}

.home-img-text img {
    position: relative;
    width: 10vw;
    top: 1vw;
}

.btn {
    width: 9vw;
    height: 3.5vw;
    background-color: #513026;
    font-family: inherit;
    margin-top: 2vw;
    position: relative;
    overflow: hidden;
    border: 1px solid #513026;
    transition: color .5s;
    padding: 1vw 1.5vw;
    z-index: 1;
    font-size: 1vw;
    border-radius: 1vw;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fff6dd;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.btn:hover {
    color: #513026;
}

.btn:before {
    top: 100%;
    left: 0;
    transition: all .7s;
}

.btn:hover:before {
    top: 0;
    border-radius: 0;
}

.right-home {
    position: relative;
    display: flex;
    align-items: center;
    top: -7%;
    gap: 2vw;
    width: 50%;
    height: 100%;
}

.home-img {
    position: relative;
    height: 40rem;
    top: -1vw;
}

img.home-beans {
    top: 65vh;
    left: 0;
    position: absolute;
    width: 50vh;
    padding: 1vw 2vw;
}

/* sec-1 */

.sec-1 {
    position: relative;
    width: 100%;
    margin-top: 30px;
    height: 20rem;
    background-image: url(assets/tiggle-special-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.sec-1 h1 {
    font-size: 4vw;
    font-family: 'baloo';
    color: #36150B;
}

.sec-1 p {
    font-size: 1vw;
    width: 80%;
}

/* sec-2 */
.sec-2 {
    width: 100%;
    height: 100%;
    margin-top: 2vw;
}


/* highlight */

.highlight-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-top: 2vw;
}

.highlight {
    width: 20%;
    height: 25vw;
    position: relative;
    background-color: #FFFBB3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1vw 2vw;
    border-radius: 20px;
    overflow: hidden;
}

.highlight-content {
    position: absolute;
    padding: 1vw 2vw;
    color: #9E533B;
    transform: translateY(20vw);
    transition: all 0.5s ease-in-out;
}

.highlight-content h1 {
    font-size: 3vw;
    line-height: 3vw;
    font-family: 'baloo';
}

.highlight-content p {
    font-size: 1vw;
}

.image-highlights img {
    height: 18vw;
    transition: all 0.5s ease;
}


.highlight:hover .image-highlights img {
    transform: translateY(-30%);
    height: 15vw;
}

.highlight:hover .highlight-content {
    transform: translateY(55%);
}

.two-high:hover .highlight-content {
    transform: translateY(85%);
}

.one-high,
.four-high {
    width: 30vw;
}

.two-container {
    margin-top: 2vw;
}

.three-high:hover .highlight-content {
    transform: translateY(10%);
}

.three-high:hover .image-highlights img {
    transform: translateX(50%) rotate(-30deg);
    height: 18vw;
}

.four-high:hover .highlight-content {
    transform: translateY(65%);
}


/* section 3 */


.sec-3 {
    width: 100%;
    height: 100%;
    margin-top: 5vw;
}

#heading {
    text-align: center;
    margin-top: 2vw;
    font-family: 'baloo';
    font-size: 4vw;
    color: #36150B;
    padding: 0 2vw;
}
.sec-3 #heading{
    text-align: left;
    padding: 0 5vw;
}
.sec-3-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2vw;
}

.left-sec-3 {
    position: relative;
    width: 50%;
    height: 100%;
    left: 4%;
}

.left-sec-3 img {
    width: 70%;
}

.right-sec-3 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.right-sec-3 h1 {
    font-family: 'baloo';
    font-size: 3.5vw;
}

.right-sec-3 p {
    font-size: 1.1vw;
    line-height: 1.5vw;
    color: #62382F;
    width: 80%;
}

/* section 4 */

.sec-4 {
    width: 100%;
    height: 100%;
}

.product-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}
.sec-4 #heading{
    text-align: left;
}
.product {
    width: 23rem;
    height: 25rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 2rem;
}

.product img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.back {
    opacity: 0;
    transition: opacity 0.5s ease, transform 1s ease;
    transition-delay: transform 0.6s;
}

.content {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background-color: #ee963eb7;
    font-size: 1rem;
    color: #fff;
    font-weight: normal;
}

.product svg {
    position: absolute;
    z-index: 9;
    top: 1%;
    right: 1%;
    padding: 1vw;
}

.product:hover .back {
    opacity: 1;
    transform: scale(1.2);
}

/*section 5 */
.horizontal-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.horizon {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #FFF6DD;
}

img.horizon-img-1 {
    top: 43%;
    width: 20%;
}

img.horizon-img-2 {
    width: 25%;
    right: 0;
}

img.horizon-img-3 {
    width: 35%;
    right: -20%;
    bottom: 0;
}

img.horizon-img-4 {
    width: 55%;
    right: -127%;
    bottom: 0;
}

.horizon img {
    position: absolute;
    z-index: 9999;
}

.horizon-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 999;
}

.horizon h1 {
    font-size: 3vw;
    color: #29180E;
}

.horizon p {
    font-size: 1.2vw;
    color: #29180eea;
}


h1.backwardnos {
    position: absolute;
    z-index: -9;
    font-size: 40rem;
    font-family: 'fuzzy bubbles';
    color: #35495e65;
}

#heading-horizon {
    font-size: 6vw;
}

#text-horizon {
    margin-top: 1vw;
    font-size: 1.5vw;
}


.horizon-img-bottom {
    right: 1%;
    bottom: 3%;
}

/* section 7 */

.sec-7 {
    width: 100%;
    height: 100%;
    margin-top: 20vw;
}

.sec-7 #heading {
    text-align: center;
}

.aso-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vw;
    padding: 2vw;
}

.row-1 {
    display: flex;
    gap: 3vw;
}

.row-2 {
    display: flex;
    gap: 5vw;
}

.row-1 img {
    height: 4vw;
}

.row-2 img {
    height: 7vw;
}


/* footer */
.footer {
    width: 100%;
    height: 100%;
    border-top: 1px solid #9E9E9E;
    background-color: #FFF6DD;
    margin-top: 2vw;
}

.footer hr {
    margin-top: 0;
}

.footer-container {
    position: relative;
    width: 100%;
    height: 50vh;
    padding: 2vw;
    display: flex;
}

.onen2 {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer h2 {
    color: #232323;
    margin-bottom: 1vw;
}

.footer li {
    color: #434343;
    line-height: 2.5vw;
}

.followus {
    width: 33%;
}

.insta img {
    width: 30%;
}

.footer-links,
.services {
    width: 33%;
}

.cpyrght {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
}

.sec-6{
    width: 100%;
    height: 100vh;
}

.story-parent-container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    flex-direction: column;
}
.bg-image-sec6{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -999;
}
.bg-image-sec6 img{
    height: 60vw;
}
.story-child-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30vw;
    margin-top: 2vw;
}

.story{
    width: 30vw;
    height: 13vw;
    background-color: #FFF6DD;
    box-shadow: 4px 6px 0px #513026;
    z-index: 99;
    padding: 2vw;
    border-radius: 20px;
    color: #513026;
}
.story h2{
    font-size: 1.5vw;
}